{
  "corpid": "ww0fa6518929b9485e",
  "kf_secret": "***",
  "open_kfid": "wkPnwIdwAAhIHVXRGi52_839e1kbQwog",
  "kf_name": "虾条",
  "test_appid": "wx7683473800246a37",
  "test_appsecret": "***",
  "test_template_id": "AH84l7TZEILHui7bd3v2xDFMIwZD4JPEmuPHjnyBCsQ"
}